/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #242B33;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  padding: 0 15px;
  max-width: 1100px;
  margin: 0 auto;
}
.container--sm {
  max-width: 824px;
}

.none {
  display: none !important;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.title-2 {
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 28px;
  }
}

.link-bold {
  color: #D4C17F;
  font-weight: 700;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 30px 0 74px;
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url(./../img/header/header-bg.jpg) center;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(./../img/header/header-bg.jpg) center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 70px;
  }
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-row--mobile {
  padding: 30px 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242B33;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  row-gap: 50px;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  text-align: center;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

.header__logo img {
  max-width: 100%;
}

@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  color: #D4C17F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 81px;
}
@media screen and (max-width: 959px) {
  .header__title {
    font-size: 30px;
    row-gap: 40px;
  }
}

.header__bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 98px;
     -moz-column-gap: 98px;
          column-gap: 98px;
}
@media screen and (max-width: 959px) {
  .header__bottom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info {
  position: relative;
  padding: 0 0 0 35px;
}
.info::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 21px;
  height: 21px;
}

.info--address {
  text-align: right;
}
.info--address::before {
  background: url(./../img/header/map.svg);
}

.info--phone::before {
  background: url(./../img/header/phone.svg);
}

.benefits {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}
.benefits::after {
  content: "II";
  bottom: 0;
  left: calc(50% + 555px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1;
  position: absolute;
  z-index: -1;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .benefits {
    padding: 80px 0;
  }
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__icon {
  margin: 0 0 53px 0;
}
@media screen and (max-width: 959px) {
  .benefits__icon {
    margin: 0 0 30px 0;
  }
}

.benefits__text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35;
}
@media screen and (max-width: 959px) {
  .benefits__text {
    font-size: 16px;
    line-height: 1.2;
  }
}

.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  top: 0;
  right: calc(50% + 555px);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  line-height: 1.15;
  position: absolute;
  z-index: -1;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
}

.apartments__title {
  margin: 0 0 88px 0;
}
@media screen and (max-width: 959px) {
  .apartments__title {
    margin: 0 0 50px 0;
  }
}

.apartments__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 959px) {
  .apartments__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.card::after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}

.card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  bottom: 44px;
  left: 50px;
  right: 50px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card__title {
    bottom: 15px;
    left: 15px;
    right: 25px;
    font-size: 20px;
  }
}

.cta {
  padding: 180px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242B33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242B33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url(./../../../img/cta/cta-bg.jpg) center;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url(./../../../img/cta/cta-bg.jpg) center;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 70px 0;
  }
}

.cta__title {
  margin: 0 0 17px 0;
}

.cta__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__row {
    grid-template-columns: unset;
    row-gap: 25px;
  }
}

.cta__desc {
  line-height: 1.5;
}
.cta__desc p + p {
  line-height: 1em;
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: unset;
  }
}

.form__input {
  padding: 12px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input:-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__text {
  -ms-flex-item-align: center;
      align-self: center;
  color: #E7E7E7;
  text-align: center;
  font-size: 13px;
  line-height: 1.23077;
}
@media screen and (max-width: 959px) {
  .form__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.form__btn {
  padding: 10px;
  background-color: #D4C17F;
  height: 50px;
  font-weight: 700;
}

.video {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.video::after {
  content: "IV";
  top: 50%;
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.15;
  position: absolute;
  z-index: -1;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
}

.video__link {
  display: inline-block;
  position: relative;
}
.video__link:hover .video__img::after {
  opacity: 70%;
}
.video__link:hover .video__btn {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.video__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242B33;
  opacity: 80%;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .video__btn img {
    width: 80px;
    height: 80px;
  }
}

.map-section {
  padding: 180px 0;
  position: relative;
}
.map-section::before {
  content: "V";
  top: 180px;
  right: calc(50% + 555px);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  line-height: 1;
  position: absolute;
  z-index: -1;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .map-section {
    padding: 80px 0;
  }
}

.map-section__title {
  margin: 0 0 88px 0;
}
@media screen and (max-width: 959px) {
  .map-section__title {
    margin: 0 0 30px 0;
  }
}

.map-section__map {
  background: #626262;
}

.map {
  height: 358px;
  width: 100%;
}

.gm-style-mtc,
.gm-svpc {
  display: none !important;
}

.gm-style-cc,
.gmnoprint {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.map:hover .gm-style-cc,
.map:hover .gmnoprint {
  opacity: 1;
}

/* Baloon */
.balloon {
  color: #242B33;
  font-size: 16px;
}

.balloon__contacts a {
  color: #242B33;
}
.balloon__contacts a:hover {
  color: #D4C17F;
}

.feedback {
  padding: 0 0 180px 0;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding: 0 0 90px 0;
  }
}

.feedback__title {
  margin: 0 0 38px 0;
}

.feedback__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}
@media screen and (max-width: 959px) {
  .feedback__row {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 60px 0;
  background-color: #2D343C;
}
@media screen and (max-width: 959px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
}
@media screen and (max-width: 959px) {
  .footer__row {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.footer__logo {
  margin: -12px 0 0 0;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.footer__nav-list li {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}