@mixin decorNumber() {
    position: absolute;
    z-index: -1;

    font-family: $font-accent;
    opacity: 0.02;
    font-size: 400px;
    font-weight: 700;
}

@mixin mediaTablet() {
    @media screen and (max-width: $tablet) {
        @content;
    }
}