.cta {
    padding: 180px 0;
    
    background: linear-gradient(180deg, 
            $dark 10.42%, 
            rgba(36, 43, 51, 0.00) 50.52%, 
            $dark 90.1%
        ), 
        linear-gradient(0deg, 
            rgba(36, 43, 51, 0.90) 0%, 
            rgba(36, 43, 51, 0.90) 100%
        ), 
        url(./../../../img/cta/cta-bg.jpg) center;

    @include mediaTablet {
        padding: 70px 0;
    }
}

.cta__title {
    margin: 0 0 17px 0;
}

.cta__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    @include mediaTablet {
        grid-template-columns: unset;
        row-gap: 25px;
    }
}

.cta__desc {
    line-height: 1.5;

    p + p {
        line-height: 1em;
    }
}

.cta__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 30px;

    @include mediaTablet {
        grid-template-columns: unset;
    }
}