.footer {
    flex: 0 0 auto;

    padding: 60px 0;

    background-color: $footer-bg;

    @include mediaTablet {
        padding: 30px 0;
    }
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;

    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}

.footer__logo {
    margin: -12px 0 0 0;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__nav-list li {
    font-size: 14px;
    letter-spacing: 0.7px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__socials {
    display: flex;
    column-gap: 22px;
}